/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #00AEEF;
  --secondary-color: #E57C23;
  --background-color: #f9fafb;
}
