/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #34CCFF;
  --secondary-color: #FCE354;
  --background-color: #f9fafb;
}
